@import 'variables';

.product {
    display: flex;
    flex-direction: column;
    padding: 19px 15px;
    height: 100%;
    box-shadow: 0px 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
}

.product__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.product__image {
    width: 210px;
    height: 150px;
    margin-bottom: 20px;
}

.product__title {
    font-weight: 700;
    color: $dark;
    margin-bottom: 12px;
}

.product__description {
    font-weight: 400;
    color: $darker;
    margin-bottom: 16px;
}
