<div class="header">
    <div class="container">
        <div class="row">
            <div class="col col-2 col-t-2 col-m-2">
                <a routerLink="/" alt="Pizza cheff" class="header__logo logo">
                    <img src="assets/images/pizza.png" class="logo__image" />
                    <p class="logo__title">Pizza<br />cheff</p>
                </a>
            </div>
            <div class="col col-2 col-t-1 col-m-1"></div>
            <div class="col col-6 col-t-5 col-m-0">
                <nav class="header__menu">
                    <a routerLink="/" class="header__item">Пиццы</a>
                    <a routerLink="/" class="header__item">Напитки</a>
                    <a routerLink="/" class="header__item">Доставка и оплата</a>
                    <a routerLink="/" class="header__item">Контакты</a>
                </nav>
            </div>
            <div class="col col-0 col-t-0 col-m-1">
                <it-burger></it-burger>
            </div>
            <div class="col col-2 col-t-0"></div>
        </div>
    </div>
</div>
