@use 'sass:math';
@import 'mixins';

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding-left: 12px;
    padding-right: 12px;
}

@include cols('.col-', 12, math.div(100%, 12));

.col-0 {
    display: none;
}

@media screen and (max-width: $desktop) {
    @include cols('.col-t-', 8, math.div(100%, 8));

    .col-t-0 {
        display: none;
    }
}

@media screen and (max-width: $tablet) {
    @include cols('.col-m-', 4, math.div(100%, 4));

    .col-m-0 {
        display: none;
    }
}
