@import 'variables';

:host.ng-invalid.ng-touched {
    & .input__control {
        border-color: red;

        &::placeholder {
            color: red;
        }
    }
}

.input__control {
    width: 100%;
    border: 1px solid $input;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;

    &::placeholder {
        color: $input;
    }

    &:focus {
        outline: none;
    }
}
