@import 'variables';

.order {
    padding-top: 240px;
    background-image: url('./../../../../../assets/images/pizzzzza.png');
    background-repeat: no-repeat;
    background-position: bottom right 230px;
}

.order__title {
    font-size: 35px;
    font-weight: 800;
    line-height: 45px;
    color: $brown;
}

.order__title_think {
    color: $yellow;
}

.order__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $brown;
    margin-top: 70px;
}

.order__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 330px;

    @media screen and (max-width: $desktop) {
        width: 100%;
    }

    @media screen and (max-width: $tablet) {
        margin-top: 24px;
    }
}

.order__error {
    margin-top: 4px;
    color: red;
}
