<div class="order">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-t-8 col-m-4">
                <p class="order__title order__title_think">Хватит думать!</p>
            </div>
            <div class="col col-4 col-t-3 col-m-4">
                <p class="order__title">Доставим заказ за 30 минут!</p>
                <p class="order__text">
                    Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ
                    бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался
                    голодный!
                </p>
            </div>
            <div class="col col-1 col-t-1 col-m-0"></div>
            <div class="col col-4 col-t-4 col-m-4">
                <form class="order__form" [formGroup]="form">
                    <div class="order__row">
                        <it-input [label]="'Ваше имя'" [removeDot]="true" formControlName="name"></it-input>
                        <div class="order__error" *ngIf="isError('name')">Поле обязательно для заполнения</div>
                    </div>
                    <div class="order__row">
                        <it-input [label]="'Адрес доставки'" formControlName="address"></it-input>
                        <div class="order__error" *ngIf="isError('address')">Поле обязательно для заполнения</div>
                    </div>
                    <div class="order__row">
                        <it-input [label]="'Телефон'" formControlName="phone" prefix="+7" mask="(000) 000-0000"></it-input>
                        <div class="order__error" *ngIf="isError('address')">Поле обязательно для заполнения</div>
                    </div>
                    <button (click)="onDelivery()" itButton>Оформить заказ</button>
                </form>
            </div>
        </div>
    </div>
</div>
